<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457153427958-amu1k913i72vdhi8o48molsnlkl7td62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457153427958-amu1k913i72vdhi8o48molsnlkl7td62</string>
	<key>API_KEY</key>
	<string>AIzaSyDBi5aAfXRdWb0LQ94fGQ91k7A37c_zjy8</string>
	<key>GCM_SENDER_ID</key>
	<string>457153427958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calendar.rdb</string>
	<key>PROJECT_ID</key>
	<string>rdbcalendarapp-47a9c</string>
	<key>STORAGE_BUCKET</key>
	<string>rdbcalendarapp-47a9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457153427958:ios:523b7e80cd6e521cfb6fd7</string>
	<key>DATABASE_URL</key>
	<string>https://rdbcalendarapp-47a9c.firebaseio.com</string>
</dict>
</plist>